<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <section>
      <div class="container">
        <div class="user signinBx">
          <div class="imgBx"><img src="../images/pexels-kris-lucas-5107839 (1).jpg" alt="" /></div>
          <div class="formBx">
            <form action="/login" method="post">
              <h2>Sign In</h2>
              <input type="text" name="username" placeholder="Username" />
              <input type="password" name="password" placeholder="Password" />
              <input type="submit" name="" value="Login" />
              <p class="signup">
                Don't have an account ?
                <a href="#" onclick="toggleForm();">Sign Up.</a>
              </p>
            </form>
          </div>
        </div>
        <div class="user signupBx">
          <div class="formBx">
            <form action="/register" method="post">
              <h2>Create an account</h2>
              <input type="text" name="username" placeholder="Username" />
              <input type="email" name="email" placeholder="Email Address" />
              <input type="password" name="password" placeholder="Create Password" />
              <input type="submit" name="" value="Sign Up" />
              <p class="signup">
                Already have an account ?
                <a href="#" onclick="toggleForm();">Sign in.</a>
              </p>
            </form>
          </div>
          <div class="imgBx"><img src="../images/pexels-ajinkyaaa-19555540.jpg" alt="" /></div>
        </div>
      </div>
    </section>

    <script>
        const toggleForm = () => {
            const container = document.querySelector('.container');
            container.classList.toggle('active');
          };
    </script>


  </body>
</html>